<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
</head>
<body>
<div  class="container">
    <nav class="navbar navbar-dark bg-dark navbar-inverse" th:fragment="header">
        <div class="container-fluid">
            <a href="/" class="navbar-brand">Kha Blog</a>
            <div sec:authorize="isAnonymous()">
                <form class="d-flex">
                    <a style="color: rgba(255,255,255,.55);" class="nav-link" href="/login">Login</a>
                    <a style="color: rgba(255,255,255,.55);" class="nav-link" href="/signup">Signup</a>
                </form>
            </div>
            <div sec:authorize="isAuthenticated()">
                <div class="d-flex">
                    <div class="d-flex" sec:authorize="hasAuthority('ADMIN')">
                        <a style="color: rgba(255,255,255,.55);" class="nav-link" href="/admin/manage-posts">Manage Posts</a>
                        <a style="color: rgba(255,255,255,.55);" class="nav-link" href="/admin/manage-users">Manage Users</a>
                    </div>
                    <a style="color: rgba(255,255,255,.55);" class="nav-link" href="/logout">Logout</a>
                </div>
            </div>
        </div>
    </nav>
</div>
</body>
</html>