.post {
    padding: 20px 25%;
}

.post-date {
    color: #999;
}

textarea {
    max-width: 600px;
}

footer {
    position: fixed;
    height: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

.container {
    width: auto;
    max-width: 800px;
    padding: 0 15px;
}

.container-fluid {
    width: auto;
    max-width: 800px;
    padding: 0 15px;
}

